#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
.gallery {
  display:flex;
  flex-direction: row;
  place-items: center;
  row-gap: 1.4rem;
  column-gap: 16px;
  overflow-x: scroll;
}

.item-page {
  margin-inline: auto;
  width: fit-content;
  display: flex;
  padding: 32px;
  flex-direction: row;
  justify-content: space-between;
  min-width: 50%;
}

.item-page .item-details {
  min-width: 300px;
  background:whitesmoke;
  height:fit-content;
  padding:24px;
  margin-inline: 16px;
  border-radius: 12px;
  border: 1px solid lightgray;
}



.share-like {
  margin-left: auto;
  width: fit-content;
}